<div class="container text-center">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" ng-model="response.name" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="phone">Phone:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="phone" ng-model="response.phone" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="msg">Message:</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="5" id="msg" ng-model="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="send_message" type="submit" class="btn btn-default">Send Message</button>
        </div>
      </div>
    </form>
</div>