<div class="container text-center">
    <h3>Contact Detail</h3>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><h4>Name</h4></div>
        <div class="col-sm-3"><h4>Phone</h4></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">{{ response.name }}</div>
        <div class="col-sm-3">{{ response.phone }}</div>
        <div class="col-sm-3">
            <a href="#/compose/{{ response.id }}" class="btn btn-default">Send Message</a>
        </div>
    </div>

</div>