<div class="container text-center">
    <h3>Contact Lists</h3>
    <div class="list-group">
        <a href="#/contact/{{ item.id }}" class="list-group-item" ng-repeat="item in response">
            <span>{{ item.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.phone }}</span>
        </a>
    </div>
</div>

