<div class="container text-center">
    <h3>Messages</h3>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="item in response">
            {{ item.status }}<br/>{{ item.name }}<br/>{{ item.phone }}<br/>{{ item.text }}
        </div>
    </div>
</div>
