{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS (load bootstrap)-->
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap-dialog.min.css' %}">
    <!-- jQuery -->
    <script src="{% static 'main/scripts/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'main/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/scripts/bootstrap-dialog.min.js' %}"></script>
    <!-- JS (load angular js and angular ui)-->
    <script src="{% static 'main/scripts/angular.js' %}"></script>
    <script src="{% static 'main/scripts/angular-ui-router.min.js' %}"></script>

</head>
<body ng-app="mainApp">
    {% verbatim %}
<!--Navigation-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="#">Kissan Network</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="contacts">Contacts</a></li>
                <li><a ui-sref="sms">Messages</a></li>
            </ul>
        </div>
    </nav>

<!--Main Content-->
    <div class="container">
        <div ui-view></div>
    </div>

    {% endverbatim %}
    <!--Other Js Files-->
    <script src="{% static 'main/scripts/app.js' %}"></script>
    <script src="{% static 'main/scripts/controllers/contactListController.js' %}"></script>
    <script src="{% static 'main/scripts/controllers/contactDetailController.js' %}"></script>
    <script src="{% static 'main/scripts/controllers/messageComposeController.js' %}"></script>
    <script src="{% static 'main/scripts/controllers/messageListController.js' %}"></script>
</body>
</html>